<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <div class="jumbotron">
    <h1 class="display-4">Room Page</h1>
    <p class="lead">Join any Room and Discuss on any Topic</p>
    <hr class="my-4">
    <p>Visit us to Know More</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
  <div class="container">
    <% if(isAdmin){ %>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <a href="/chatapp/createRoom" class="btn btn-success btn-block">Create Room</a>
        </div>
      </div>
    <% } %>
    <% if(roomData.allRooms.length>0) { %>
      <div class="row justify-content-center">
        <% for(let index=0;index < roomData.allRooms.length;index++) { %>
          <div class="card m-2" style="width: 18rem;">
            <img src="http://localhost:4000/chatapp/image/<%=roomData.allRooms[index].imageName%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=roomData.allRooms[index].roomName %></h5>
              <p class="card-text"><%=roomData.allRooms[index].roomDesc %></p>
              <a href="/chatapp/room/<%=roomData.allRooms[index].roomName %>" class="btn btn-primary">Join</a>
              <% if(isAdmin){ %>
                <a href="/chatapp/createRoom?edit=true&id=<%=roomData.allRooms[index]._id%>" class="btn btn-danger">Edit</a>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>